.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 10rem;
  color: #ffffff;

  &__login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  &__login-text {
    display: inline-block;
    margin-bottom: 6rem;
    font-size: 1.6rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7rem;
  }

  &__register {
    display: flex;
    flex-direction: column;
    justify-self: center;
  }

  &__form-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      transform: scale(1.08);
    }
    &:active {
      transform: scale(1);
    }
  }

  &__error-msg {

  }
}