.side-button {

  &:hover .side-button__icon-box {
    background-color: #ffffff;
  }
  &:hover .side-button__icon {
    fill: #1c201c;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &__icon-box {
    background-color: #333633;
    display: inline-block;
    padding: .7rem;
    border-radius: 8px;
    transition: all .2s;
  }

  &__icon {
    fill: #ffffff;
    width: 2rem;
    height: 2rem;
    transition: all .2s;
  }

  &__text {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 500;
  }
}