.main {
  display: grid;
  grid-template-columns: 25rem 1fr;
  padding: 5rem 10rem 15rem 10rem;

  &__menu {
    width: 100%;
    height: 50vh;
    padding-top: 7rem;
  }

  &__games {

    width: 100%;
  }
}