.game {
  position: relative;
  height: 45rem;
  background-color: #333633;
  transition: all .3s;

  a:link,
  a:visited {
    text-decoration: none;
  }

  &:hover {
    transform: scale(1.05);

  }

  &__img {
    width: 100%;
    height: 17rem;
    display: block;
    object-fit: cover;

  }

  &__platforms {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    &-icon {
      fill: #ffffff;
      width: 2rem;
      height: 2rem;
      transition: all .1s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    color: #ffffff;
    font-size: 1.8rem;
    padding: 1rem;

    @include respond(small-phone) {
      padding: .5rem 1rem;
    }
  }

  &__cta {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: relative;

    @include respond(normal) {
      gap: .5rem;
      padding: 1rem .5rem;
    }
    @include respond(tab-port) {
      gap: .4rem;
      padding: 1rem .3rem;
    }
    @include respond(small-phone) {
      flex-wrap: wrap;
      padding: 1rem;
    }


    &-btn {
      background-color: hsla(0,0%,100%,.4);
      border: none;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: .5rem 1rem;
      font-family: inherit;
      font-weight: 500;
      transition: all .2s;

      &.active {
        background-color: forestgreen;

        &:hover {
          background-color: forestgreen;

          span {
            color: #ffffff;
          }
        }
      }

      &:disabled {
        opacity: .7;

        &:hover {
          background-color: hsla(0,0%,100%,.4);
        }

        &:hover .game__cta-btn-icon {
          fill: #ffffff;
        }
        &:hover .game__cta-btn-text {
          color: #ffffff;
        }
        &:hover span {
          color: #ffffff;
        }
      }

      @include respond(normal) {
        padding: .5rem .5rem;
      }
      @include respond(tab-port) {
        font-size: 1.4rem;
        gap: 1px;
        padding: .3rem .3rem;
      }

      span {
        color: #ffffff;
        transition: all .2s;
      }

      &-icon {
        fill: #ffffff;
        transition: all .2s;

        &.active {
          opacity: 0;
          visibility: hidden;
          display: none;
        }
      }

      &:hover {
        background-color: #ffffff;
        cursor: pointer;
      }
      &:hover span {
        color: black;
      }
      &:hover .game__cta-btn-icon {
        fill: black;
      }
    }

    &-library {
      width: 10rem;
      height: 10rem;
      background-color: #ffffff;
      position: absolute;
      z-index: 50;
    }
  }

  &__info {
    position: absolute;
    top: 32rem;
    left: 0;
    width: 100%;

    @include respond(small-phone) {
      top: 35rem;
    }

    &-released {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      border-bottom: 1px solid rgba(133, 130, 130, 0.5);

      @include respond(small-phone) {
        padding: 1rem .5rem;
      }

      span {
        color: rgba(190, 190, 190, 0.5);
        font-size: 1.2rem;
      }
    }

    &-rating {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      border-bottom: 1px solid rgba(133, 130, 130, 0.5);

      @include respond(small-phone) {
        padding: 1rem .5rem;
      }

      span {
        color: rgba(190, 190, 190, 0.5);
        font-size: 1.2rem;
      }
    }

    &-genres {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem 3rem 1rem;
      overflow-x: hidden;

      @include respond(small-phone) {
        padding: 1rem .5rem;
      }

      &-link:link,
      &-link:visited {
        color: #ffffff;
        font-size: 1.2rem;
        transition: all .2s;

        &:hover {
          transform: scale(1.1);
        }
        &:active {
          transform: scale(1);
        }
      }

      &-box {
        display: flex;
        gap: .5rem;
      }

      span {
        color: rgba(190, 190, 190, 0.5);
        font-size: 1.2rem;
      }
    }
  }

  &__rate-toggle {
    position: relative;
  }

  &__rate-box {
    width: 12rem;
    z-index: 50;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    &:not(:last-child) {
      padding-bottom: 2rem;
    }
  }

  &__rate-btn {
    display: block;
    font-size: 1.2rem;
    cursor: pointer;

    &:first-child {
      padding-top: 1rem;
    }
    &:not(:last-child) {
      padding-bottom: 1rem;
    }
  }

  &__rate-skip {
    display: block;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    cursor: pointer;
  }
}



.open .game__rate-box {
  opacity: 1;
  visibility: visible;
}