.user {
  display: grid;
  grid-template-columns: 25rem 1fr;
  padding: 5rem 10rem 15rem 10rem;

  &__main {

  }

  &__main-info {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 10rem;
  }

  &__title {
    color: #ffffff;
    font-size: 5rem;
  }

  &__profile-img {
    width: 10rem;
    height: 10rem;
    display: block;
    object-fit: cover;
    border-radius: 50%;
  }

  &__settings-btn:link,
  &__settings-btn:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #515351;
    border: 2px solid #ffffff;
    padding: 1rem 2rem;
    margin-left: auto;
    transition: all .2s;

    &:hover {
      background-color: #333633;
      border: 2px solid #515351;
    }
    &:active {
      transform: scale(.9);
    }
  }

  &__nav {
    padding: 5rem 10rem 0 10rem;

  }

  &__nav-list {
    list-style: none;
    display: flex;
    gap: 4rem;
  }

  &__nav-item {

    &-link:link,
    &-link:visited {
      text-decoration: none;
      color: #898c89;
      font-size: 2rem;
      font-weight: 500;
      transition: all .2s;

      &::after {
        content: '';
        display: block;
        margin-top: 2px;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transition: all .3s;
        transform: scale(0);
      }

      &:hover {
        color: #ffffff;
      }
      &:hover::after {
        transform: scale(1);
      }
    }
  }

  &__nav-item-link-active {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    transition: all .2s;

    &::after {
      content: '';
      display: block;
      margin-top: 2px;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transition: all .3s;
    }
  }

  &__display-box {
    padding: 5rem 10rem 0 10rem;
  }
}