*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #1c201c;
  font-family: 'Montserrat', sans-serif; }

.footer {
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  border-top: 1px solid #ededed; }
  .footer__logo {
    width: auto;
    height: 7rem;
    display: block;
    object-fit: cover; }
  .footer__social {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center; }
    .footer__social-box {
      display: flex;
      gap: 3rem;
      align-items: center; }
    .footer__social-icon {
      width: 4rem;
      height: 4rem;
      fill: #ffffff;
      transition: all .2s; }
      .footer__social-icon:hover {
        cursor: pointer;
        transform: translateY(-2px); }
  .footer__newsletter {
    justify-self: center;
    width: 30%; }
    .footer__newsletter-title {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 1.6rem;
      margin-bottom: 10rem; }
    .footer__newsletter-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7rem; }
      .footer__newsletter-form label {
        color: #ffffff; }
    .footer__newsletter-submit {
      padding: 1rem 3rem;
      background-color: transparent;
      border: 3px solid #ffffff;
      color: #ffffff;
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all .2s; }
      .footer__newsletter-submit:hover {
        transform: scale(1.08); }
      .footer__newsletter-submit:active {
        transform: scale(1); }
  .footer__terms {
    justify-self: center;
    align-self: center; }
    .footer__terms-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4rem; }
    .footer__terms-link:link, .footer__terms-link:visited {
      text-decoration: none;
      color: #ffffff;
      font-size: 2rem; }
      .footer__terms-link:link:hover, .footer__terms-link:visited:hover {
        cursor: pointer; }

.game {
  position: relative;
  height: 45rem;
  background-color: #333633;
  transition: all .3s; }
  .game a:link,
  .game a:visited {
    text-decoration: none; }
  .game:hover {
    transform: scale(1.05); }
  .game__img {
    width: 100%;
    height: 17rem;
    display: block;
    object-fit: cover; }
  .game__platforms {
    display: flex;
    gap: 1rem;
    padding: 1rem; }
    .game__platforms-icon {
      fill: #ffffff;
      width: 2rem;
      height: 2rem;
      transition: all .1s; }
      .game__platforms-icon:hover {
        transform: scale(1.2); }
  .game__title {
    color: #ffffff;
    font-size: 1.8rem;
    padding: 1rem; }
  .game__cta {
    display: flex;
    gap: 1rem;
    padding: 1rem; }
    .game__cta-btn {
      background-color: rgba(255, 255, 255, 0.4);
      border: none;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: .5rem 1rem;
      font-family: inherit;
      font-weight: 500;
      transition: all .2s; }
      .game__cta-btn span {
        color: #ffffff;
        transition: all .2s; }
      .game__cta-btn-icon {
        fill: #ffffff;
        transition: all .2s; }
      .game__cta-btn:hover {
        background-color: #ffffff;
        cursor: pointer; }
      .game__cta-btn:hover span {
        color: black; }
      .game__cta-btn:hover .game__cta-btn-icon {
        fill: black; }
  .game__info {
    position: absolute;
    top: 32rem;
    left: 0;
    width: 100%; }
    .game__info-released {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      border-bottom: 1px solid rgba(133, 130, 130, 0.5); }
      .game__info-released span {
        color: rgba(190, 190, 190, 0.5);
        font-size: 1.2rem; }
    .game__info-rating {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      border-bottom: 1px solid rgba(133, 130, 130, 0.5); }
      .game__info-rating span {
        color: rgba(190, 190, 190, 0.5);
        font-size: 1.2rem; }
    .game__info-genres {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem 3rem 1rem;
      overflow-x: hidden; }
      .game__info-genres-link:link, .game__info-genres-link:visited {
        color: #ffffff;
        font-size: 1.2rem;
        transition: all .2s; }
        .game__info-genres-link:link:hover, .game__info-genres-link:visited:hover {
          transform: scale(1.1); }
        .game__info-genres-link:link:active, .game__info-genres-link:visited:active {
          transform: scale(1); }
      .game__info-genres-box {
        display: flex;
        gap: .5rem; }
      .game__info-genres span {
        color: rgba(190, 190, 190, 0.5);
        font-size: 1.2rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10rem;
  border-bottom: 1px solid #ededed; }
  .header__logo-img {
    width: auto;
    height: 3rem;
    object-fit: cover;
    display: block; }
  .header__search {
    width: 100%;
    display: flex;
    justify-content: center; }
    .header__search-input {
      width: 70%;
      padding: 1.5rem 4rem;
      border-radius: 5rem;
      border: none;
      background-color: #c8c7c7;
      transition: all .3s;
      font-size: 1.4rem;
      font-weight: 500;
      font-family: inherit; }
      .header__search-input:hover {
        background-color: #ffffff; }
      .header__search-input:focus {
        outline: none;
        width: 80%;
        background-color: #ffffff; }
  .header__user-nav {
    white-space: nowrap; }
    .header__user-nav-list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 2rem; }
    .header__user-nav-item a {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.6rem; }
      .header__user-nav-item a span {
        font-size: 1.4rem;
        width: 100%;
        display: block; }
    .header__user-nav-item-img {
      display: block;
      object-fit: cover;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 2px solid #fff; }
    .header__user-nav-icon {
      width: 2rem;
      height: 2rem;
      fill: #ffffff; }

.form-input {
  position: relative;
  width: 100%; }
  .form-input__label {
    position: absolute;
    bottom: 8%;
    left: 7%;
    font-size: 1.8rem;
    transition: all .2s;
    opacity: 0;
    visibility: hidden; }
  .form-input__input {
    padding: 1rem 3rem 0 3rem;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #ededed;
    width: 100%;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.8rem;
    z-index: 10; }
    .form-input__input::placeholder {
      color: #ffffff;
      opacity: 1; }
    .form-input__input:focus {
      outline: none; }
      .form-input__input:focus::placeholder {
        opacity: 0;
        visibility: hidden; }
    .form-input__input:focus + .form-input__label {
      transform: translateY(-5rem) scale(0.8);
      opacity: 1;
      visibility: visible; }

.side-menu__submenu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem; }
  .side-menu__submenu-title {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 700; }

.games {
  display: grid;
  grid-template-rows: 5rem auto;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  padding: 0 2rem;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem; }
  .games__sort {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }

.side-button:hover .side-button__icon-box {
  background-color: #ffffff; }

.side-button:hover .side-button__icon {
  fill: #1c201c; }

.side-button__link:link, .side-button__link:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .5rem; }

.side-button__icon-box {
  background-color: #333633;
  display: inline-block;
  padding: .7rem;
  border-radius: 8px;
  transition: all .2s; }

.side-button__icon {
  fill: #ffffff;
  width: 2rem;
  height: 2rem;
  transition: all .2s; }

.side-button__text {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500; }

.loader-box {
  min-height: 70vh;
  position: relative; }

.loader {
  border: .7rem solid #ffffff;
  border-top: .7rem solid #333633;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%); }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.game-details {
  padding: 5rem 10rem 10rem 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .game-details__info {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .game-details__video-box {
    grid-column: 1 / 2;
    padding: 2rem; }
    .game-details__video-box img {
      width: 100%;
      display: block;
      object-fit: cover; }
  .game-details__developers {
    padding: 3rem 0;
    border-bottom: 1px solid #ededed; }
    .game-details__developers-title {
      color: #ffffff;
      margin-bottom: 2rem;
      font-size: 2rem; }
    .game-details__developers-link:link, .game-details__developers-link:visited {
      text-decoration: none;
      color: #1c201c;
      background-color: #ffffff;
      font-size: 1.6rem;
      font-weight: 700;
      padding: .5rem 1rem;
      border-radius: 5px; }
  .game-details__more-info {
    grid-column: 2/-1; }
  .game-details__platforms {
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem; }
    .game-details__platforms span {
      background-color: #ffffff;
      padding: .5rem 1rem;
      font-size: 1.4rem;
      font-weight: 500;
      border-radius: 5px; }
  .game-details__title {
    color: #ffffff;
    font-size: 5rem;
    padding: 1rem 2rem 0 2rem; }
  .game-details__genres {
    padding: .5rem 2rem 1rem 2rem;
    display: flex;
    gap: 1rem; }
    .game-details__genres-link:link, .game-details__genres-link:visited {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 1px;
      transition: all .2s; }
      .game-details__genres-link:link:hover, .game-details__genres-link:visited:hover {
        transform: scale(1.08); }
  .game-details__screens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-rows: 1fr 1fr;
    padding: 2rem; }
    .game-details__screens img {
      height: 16rem;
      width: 100%;
      display: block;
      object-fit: cover;
      cursor: pointer; }
  .game-details__description {
    grid-column: 1 / -1;
    padding: 0 2rem; }
    .game-details__description p {
      color: #ffffff;
      font-size: 2rem;
      line-height: 1.6;
      font-weight: 500; }

.main {
  display: grid;
  grid-template-columns: 25rem 1fr;
  padding: 5rem 10rem 15rem 10rem; }
  .main__menu {
    width: 100%;
    height: 50vh;
    padding-top: 7rem; }
  .main__games {
    width: 100%; }
