*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  background-color: #1c201c;
  font-family: 'Montserrat', sans-serif; }

/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800] : Normal styles
1800px + : Big desktop

$breakpoint arguement choices:
- smallest-phone - 400px
- small-phone - 500px
- phone - 600px
- tab-port - 900px
- tab-land - 1200px
- normal - 1700px
- big-desktop - 1800px
*/
.footer {
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: max-content minmax(20rem, 1fr) max-content;
  border-top: 1px solid #ededed; }
  @media only screen and (max-width: 75em) {
    .footer {
      padding: 5rem 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 5rem 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr; } }
  @media only screen and (max-width: 25em) {
    .footer {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      padding: 2rem 1rem; } }
  .footer__logo {
    width: auto;
    height: 7rem;
    display: block;
    object-fit: cover; }
  .footer__social {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__social {
        grid-column: 1 / 2;
        grid-row: 1 / 2; } }
    @media only screen and (max-width: 25em) {
      .footer__social {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        gap: 1rem; } }
    .footer__social-box {
      display: flex;
      gap: 3rem;
      align-items: center; }
    .footer__social-icon {
      width: 4rem;
      height: 4rem;
      fill: #ffffff;
      transition: all .2s; }
      .footer__social-icon:hover {
        cursor: pointer;
        transform: translateY(-2px); }
  .footer__newsletter {
    justify-self: center;
    width: 30%; }
    @media only screen and (max-width: 75em) {
      .footer__newsletter {
        width: 60%; } }
    @media only screen and (max-width: 56.25em) {
      .footer__newsletter {
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .footer__newsletter {
        grid-column: 1 / -1;
        grid-row: 2 / -1; } }
    @media only screen and (max-width: 25em) {
      .footer__newsletter {
        grid-column: 1 / 2;
        grid-row: 2 / 3; } }
    .footer__newsletter-title {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 1.6rem;
      margin-bottom: 10rem; }
      @media only screen and (max-width: 25em) {
        .footer__newsletter-title {
          margin-bottom: 5rem; } }
    .footer__newsletter-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7rem; }
      .footer__newsletter-form label {
        color: #ffffff; }
    .footer__newsletter-submit {
      padding: 1rem 3rem;
      background-color: transparent;
      border: 3px solid #ffffff;
      color: #ffffff;
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all .2s; }
      .footer__newsletter-submit:hover {
        transform: scale(1.08); }
      .footer__newsletter-submit:active {
        transform: scale(1); }
  .footer__terms {
    justify-self: center;
    align-self: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__terms {
        grid-column: 2 / 3;
        grid-row: 1 / 2; } }
    @media only screen and (max-width: 25em) {
      .footer__terms {
        grid-column: 1 / 2;
        grid-row: 3 / 4; } }
    .footer__terms-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4rem; }
      @media only screen and (max-width: 25em) {
        .footer__terms-list {
          flex-direction: unset;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1rem; } }
    .footer__terms-link:link, .footer__terms-link:visited {
      text-decoration: none;
      color: #ffffff;
      font-size: 2rem; }
      .footer__terms-link:link:hover, .footer__terms-link:visited:hover {
        cursor: pointer; }

.game {
  position: relative;
  height: 45rem;
  background-color: #333633;
  transition: all .3s;
  flex-shrink: 0;
  flex-grow: 0; }
  .game a:link,
  .game a:visited {
    text-decoration: none; }
  .game:hover {
    transform: scale(1.05); }
  .game__img {
    width: 100%;
    height: 17rem;
    display: block;
    object-fit: cover; }
  .game__platforms {
    display: flex;
    gap: 1rem;
    padding: 1rem; }
    .game__platforms-icon {
      fill: #ffffff;
      width: 2rem;
      height: 2rem;
      transition: all .1s; }
      .game__platforms-icon:hover {
        transform: scale(1.2); }
  .game__title {
    color: #ffffff;
    font-size: 1.8rem;
    padding: 1rem; }
    @media only screen and (max-width: 31.25em) {
      .game__title {
        padding: .5rem 1rem; } }
  .game__cta {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: relative; }
    @media only screen and (max-width: 106.25em) {
      .game__cta {
        gap: .5rem;
        padding: 1rem .5rem; } }
    @media only screen and (max-width: 56.25em) {
      .game__cta {
        gap: .4rem;
        padding: 1rem .3rem; } }
    @media only screen and (max-width: 31.25em) {
      .game__cta {
        flex-wrap: wrap;
        padding: 1rem; } }
    .game__cta-btn {
      background-color: rgba(255, 255, 255, 0.4);
      border: none;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: .5rem 1rem;
      font-family: inherit;
      font-weight: 500;
      transition: all .2s; }
      .game__cta-btn.active {
        background-color: forestgreen; }
        .game__cta-btn.active:hover {
          background-color: forestgreen; }
          .game__cta-btn.active:hover span {
            color: #ffffff; }
      .game__cta-btn:disabled {
        opacity: .7; }
        .game__cta-btn:disabled:hover {
          background-color: rgba(255, 255, 255, 0.4); }
        .game__cta-btn:disabled:hover .game__cta-btn-icon {
          fill: #ffffff; }
        .game__cta-btn:disabled:hover .game__cta-btn-text {
          color: #ffffff; }
        .game__cta-btn:disabled:hover span {
          color: #ffffff; }
      @media only screen and (max-width: 106.25em) {
        .game__cta-btn {
          padding: .5rem .5rem; } }
      @media only screen and (max-width: 56.25em) {
        .game__cta-btn {
          font-size: 1.4rem;
          gap: 1px;
          padding: .3rem .3rem; } }
      .game__cta-btn span {
        color: #ffffff;
        transition: all .2s; }
      .game__cta-btn-icon {
        fill: #ffffff;
        transition: all .2s; }
        .game__cta-btn-icon.active {
          opacity: 0;
          visibility: hidden;
          display: none; }
      .game__cta-btn:hover {
        background-color: #ffffff;
        cursor: pointer; }
      .game__cta-btn:hover span {
        color: black; }
      .game__cta-btn:hover .game__cta-btn-icon {
        fill: black; }
    .game__cta-library {
      width: 10rem;
      height: 10rem;
      background-color: #ffffff;
      position: absolute;
      z-index: 50; }
  .game__info {
    position: absolute;
    top: 32rem;
    left: 0;
    width: 100%; }
    @media only screen and (max-width: 31.25em) {
      .game__info {
        top: 35rem; } }
    .game__info-released {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      border-bottom: 1px solid rgba(133, 130, 130, 0.5); }
      @media only screen and (max-width: 31.25em) {
        .game__info-released {
          padding: 1rem .5rem; } }
      .game__info-released span {
        color: rgba(190, 190, 190, 0.5);
        font-size: 1.2rem; }
    .game__info-rating {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem;
      border-bottom: 1px solid rgba(133, 130, 130, 0.5); }
      @media only screen and (max-width: 31.25em) {
        .game__info-rating {
          padding: 1rem .5rem; } }
      .game__info-rating span {
        color: rgba(190, 190, 190, 0.5);
        font-size: 1.2rem; }
    .game__info-genres {
      display: flex;
      justify-content: space-between;
      padding: 1rem 1rem 3rem 1rem;
      overflow-x: hidden; }
      @media only screen and (max-width: 31.25em) {
        .game__info-genres {
          padding: 1rem .5rem; } }
      .game__info-genres-link:link, .game__info-genres-link:visited {
        color: #ffffff;
        font-size: 1.2rem;
        transition: all .2s; }
        .game__info-genres-link:link:hover, .game__info-genres-link:visited:hover {
          transform: scale(1.1); }
        .game__info-genres-link:link:active, .game__info-genres-link:visited:active {
          transform: scale(1); }
      .game__info-genres-box {
        display: flex;
        gap: .5rem; }
      .game__info-genres span {
        color: rgba(190, 190, 190, 0.5);
        font-size: 1.2rem; }
  .game__rate-toggle {
    position: relative; }
  .game__rate-box {
    width: 12rem;
    z-index: 50;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden; }
    .game__rate-box:not(:last-child) {
      padding-bottom: 2rem; }
  .game__rate-btn {
    display: block;
    font-size: 1.2rem;
    cursor: pointer; }
    .game__rate-btn:first-child {
      padding-top: 1rem; }
    .game__rate-btn:not(:last-child) {
      padding-bottom: 1rem; }
  .game__rate-skip {
    display: block;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    cursor: pointer; }

.open .game__rate-box {
  opacity: 1;
  visibility: visible; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10rem;
  border-bottom: 1px solid #ededed; }
  @media only screen and (max-width: 75em) {
    .header {
      padding: 5rem 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding: 5rem 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .header__logo {
      grid-row: 1 / 2; } }
  .header__logo-img {
    width: auto;
    height: 3rem;
    object-fit: cover;
    display: block; }
  .header__user-nav {
    white-space: nowrap; }
    @media only screen and (max-width: 31.25em) {
      .header__user-nav {
        grid-row: 1 / 2; } }
    .header__user-nav-list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 2rem; }
      @media only screen and (max-width: 31.25em) {
        .header__user-nav-list {
          gap: 1rem; } }
    .header__user-nav-item {
      position: relative; }
      .header__user-nav-item a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.6rem; }
        .header__user-nav-item a span {
          font-size: 1.4rem;
          width: 100%;
          display: block; }
      .header__user-nav-item-img {
        display: block;
        object-fit: cover;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 2px solid #fff; }
      .header__user-nav-item-settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
        min-height: 10rem;
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .2s; }
        .header__user-nav-item-settings:hover {
          opacity: 1;
          visibility: visible; }
        .header__user-nav-item-settings-link:link, .header__user-nav-item-settings-link:visited, .header__user-nav-item-settings-link {
          color: black;
          font-size: 1.4rem;
          cursor: pointer; }
        .header__user-nav-item-settings span {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: black;
          color: #ffffff;
          padding: 1rem 2rem;
          width: 100%;
          font-weight: 500; }
    .header__user-nav-icon {
      width: 2rem;
      height: 2rem;
      fill: #ffffff;
      cursor: pointer; }
      .header__user-nav-icon:hover + .header__user-nav-item-settings {
        opacity: 1;
        visibility: visible; }
  .header__login-box {
    max-width: 18%;
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 31.25em) {
      .header__login-box {
        grid-row: 1 / 2;
        display: block;
        justify-self: center; } }
  .header__login-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 500; }

.form-input {
  position: relative;
  width: 100%; }
  .form-input__label {
    position: absolute;
    bottom: 8%;
    left: 7%;
    font-size: 1.8rem;
    transition: all .2s;
    opacity: 0;
    visibility: hidden; }
  .form-input__input {
    padding: 1rem 3rem 0 3rem;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #ededed;
    width: 100%;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.8rem;
    z-index: 10; }
    .form-input__input::placeholder {
      color: #ffffff;
      opacity: 1; }
    .form-input__input:focus {
      outline: none; }
      .form-input__input:focus::placeholder {
        opacity: 0;
        visibility: hidden; }
    .form-input__input:focus + .form-input__label {
      transform: translateY(-5rem) scale(0.8);
      opacity: 1;
      visibility: visible; }

.side-menu {
  transition: all .3s;
  z-index: 1000; }
  @media only screen and (max-width: 31.25em) {
    .side-menu {
      background-color: #515351;
      width: 50%;
      padding: 3rem;
      height: 55rem;
      overflow-y: scroll; } }
  .side-menu__submenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem; }
    .side-menu__submenu-title {
      color: #ffffff;
      font-size: 2.2rem;
      font-weight: 700; }

.games {
  display: grid;
  grid-template-rows: 5rem auto;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 2rem;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem; }
  @media only screen and (max-width: 87.5em) {
    .games {
      grid-template-columns: repeat(3, minmax(25rem, 1fr)); } }
  @media only screen and (max-width: 56.25em) {
    .games {
      grid-template-columns: repeat(2, minmax(20rem, 1fr)); } }
  @media only screen and (max-width: 37.5em) {
    .games {
      grid-template-columns: minmax(20rem, 35rem); } }
  @media only screen and (max-width: 37.5em) {
    .games {
      grid-template-columns: minmax(20rem, 35rem); } }
  @media only screen and (max-width: 31.25em) {
    .games {
      grid-template-columns: repeat(2, minmax(20rem, 1fr)); } }
  @media only screen and (max-width: 25em) {
    .games {
      grid-template-columns: minmax(20rem, 1fr);
      padding: 0 2rem; } }
  .games__sort {
    grid-row: 1 / 2;
    grid-column: 1 / -1; }

.load-more {
  height: 5px;
  width: 100%;
  grid-column: 1 / -1; }

.side-button:hover .side-button__icon-box {
  background-color: #ffffff; }

.side-button:hover .side-button__icon {
  fill: #1c201c; }

.side-button__link:link, .side-button__link:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .5rem; }

.side-button__icon-box {
  background-color: #333633;
  display: inline-block;
  padding: .7rem;
  border-radius: 8px;
  transition: all .2s; }

.side-button__icon {
  fill: #ffffff;
  width: 2rem;
  height: 2rem;
  transition: all .2s; }

.side-button__text {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500; }

.loader-box {
  min-height: 70vh;
  position: relative; }

.loader {
  border: .7rem solid #ffffff;
  border-top: .7rem solid #333633;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%); }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.header__search {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .header__search {
      grid-row: 2 / 3;
      grid-column: 1 / 3; } }
  .header__search-input {
    width: 70%;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    border: none;
    background-color: #c8c7c7;
    transition: all .3s;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: inherit; }
    .header__search-input:hover {
      background-color: #ffffff; }
    .header__search-input:focus {
      outline: none;
      width: 80%;
      background-color: #ffffff; }
    .header__search-input:focus + .header__search-output {
      opacity: 1;
      visibility: visible; }
  .header__search-output {
    width: 80%;
    max-height: 100rem;
    overflow-y: scroll;
    background-color: black;
    border-radius: 11px;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: 50;
    transition: all .2s; }
    .header__search-output:active {
      opacity: 1;
      visibility: visible; }
    .header__search-output-item {
      padding: 1rem; }
      .header__search-output-item-link:link, .header__search-output-item-link:visited {
        display: flex;
        align-items: center;
        gap: 2rem;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.8rem;
        font-weight: 500; }
        .header__search-output-item-link:link span, .header__search-output-item-link:visited span {
          transition: all .2s; }
          .header__search-output-item-link:link span:hover, .header__search-output-item-link:visited span:hover {
            color: #515351; }
        .header__search-output-item-link:link img, .header__search-output-item-link:visited img {
          width: 8rem;
          height: 7rem;
          display: block;
          object-fit: cover;
          object-position: center; }

.scroll-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: black;
  position: fixed;
  right: 1%;
  bottom: 5%;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .scroll-top-btn {
      right: 5%; } }
  .scroll-top-btn-icon {
    fill: rgba(255, 255, 255, 0.4);
    width: 3rem;
    height: 3rem; }

.library {
  width: 100%; }
  .library__filter-box {
    display: flex;
    flex-direction: column;
    gap: 5rem; }
  .library__filter-box-sort {
    background-color: #515351;
    padding: 2rem; }
  .library__search-input-box {
    width: 100%;
    display: flex; }
  .library__search-input-icon {
    fill: #515351;
    width: 2rem;
    height: 2rem; }
  .library__search-input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 3px solid #515351;
    padding-left: 4rem;
    font-family: inherit;
    color: #ffffff;
    font-size: 1.8rem;
    margin-left: -2rem;
    transition: all .2s; }
    .library__search-input:focus {
      outline: none;
      border-bottom: 3px solid #898c89; }

.library-list {
  width: 100%;
  margin: 4rem 0; }
  .library-list__label {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .library-list__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: #ffffff; }
  .library-list__title {
    display: block;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.6; }
  .library-list__status-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    background-color: #515351;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer; }
  .library-list__status-icon {
    width: 2rem;
    height: 2rem;
    fill: black;
    transition: all .2s; }
  .library-list__status-icon.open {
    transform: rotate(90deg); }
  .library-list__status-icon-box.disabled {
    background-color: #333633;
    cursor: unset; }
    .library-list__status-icon-box.disabled__status-icon {
      fill: #515351; }
  .library-list__results-box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 4rem;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s; }
  .library-list__results-box.open {
    padding-top: 3rem;
    height: auto;
    opacity: 1;
    visibility: visible; }

.library-game {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 27rem;
  background-color: #333633;
  position: relative; }
  .library-game__img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    display: block; }
  .library-game__platforms {
    display: flex;
    gap: .5rem;
    padding: .5rem 1rem; }
  .library-game__title:link, .library-game__title:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1rem; }
    .library-game__title:link:hover, .library-game__title:visited:hover {
      text-decoration: underline; }
  .library-game__add-info {
    position: absolute;
    bottom: 5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem; }
  .library-game__release {
    color: #ffffff;
    font-size: 1.2rem; }
  .library-game__rating {
    color: #08ae08;
    font-size: 1.2rem;
    font-weight: 500;
    border: 2px solid #08ae08;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    right: -11rem; }
  .library-game__btn {
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    border: 2px solid #898c89;
    width: 5rem;
    padding: .5rem;
    color: #898c89;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s; }
    .library-game__btn:hover {
      border: 2px solid #515351;
      background-color: #898c89;
      color: #333633; }
    .library-game__btn:hover + .library-game__library-select-box {
      opacity: 1;
      visibility: visible; }
  .library-game__library-select-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 12rem;
    border-radius: 5px;
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    bottom: -9rem;
    left: 1rem;
    z-index: 50;
    opacity: 0;
    visibility: hidden;
    transition: all .2s; }
    .library-game__library-select-box:hover {
      opacity: 1;
      visibility: visible; }
  .library-game__library-select-box-title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6;
    display: inline-block;
    padding-top: .5rem; }
  .library-game__library-select-link {
    font-size: 1.1rem;
    cursor: pointer; }
  .library-game__library-select-remove {
    font-size: 1.2rem;
    font-weight: 700;
    color: red;
    cursor: pointer;
    border-top: 1px solid red;
    width: 100%;
    text-align: center;
    display: block;
    padding: 7px 0;
    transition: all .2s; }
    .library-game__library-select-remove:hover {
      background-color: red;
      color: #ffffff; }
  .library-game__platform-select {
    position: absolute;
    bottom: 1.1rem;
    right: 7px;
    background-color: transparent;
    color: #898c89;
    border: none;
    font-weight: 500;
    font-family: inherit;
    font-size: 1.1rem;
    padding: .5rem .5rem;
    width: 60%; }

.overview__title {
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: .7px;
  margin-bottom: 3rem; }

.overview__genres {
  border: 1px solid #ffffff;
  padding: 0 2rem 2rem 2rem;
  margin-bottom: 3rem; }

.overview__stats-title {
  color: #ffffff;
  font-size: 1.6rem;
  padding-top: 3rem;
  text-align: center; }

.overview__library {
  border: 1px solid #ffffff;
  padding: 0 2rem 2rem 2rem;
  margin-bottom: 3rem; }

.info-stats-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem; }
  .info-stats-bar__title {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 1.5rem;
    width: 25%; }
  .info-stats-bar__slide-box {
    width: 100%; }
  .info-stats-bar__slide-info {
    display: inline-block;
    color: #ffffff;
    font-size: 1.4rem;
    padding: 0 0 .5rem .5rem; }
  .info-stats-bar__slide-body {
    height: 1rem;
    width: 100%;
    border: 1px solid #ffffff;
    overflow: hidden; }
  .info-stats-bar__slide {
    height: 1rem;
    background-color: #ffffff; }

.review {
  background-color: #515351;
  padding: 1rem;
  margin-bottom: 1rem; }
  .review__box {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .review__img {
    width: 3rem;
    height: 3rem;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ffffff; }
  .review__text {
    font-size: 1.2rem;
    color: #ededed;
    letter-spacing: .7px;
    line-height: 1.6; }
  .review__link {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.3rem; }
    .review__link:hover {
      text-decoration: underline; }
  .review__date {
    display: inline-block;
    padding-top: .5rem;
    font-size: 1.2rem; }

.game-same-series {
  width: 20rem;
  height: 30rem;
  background-color: #333633;
  flex-shrink: 0; }
  .game-same-series__img {
    width: 100%;
    height: 10rem;
    display: block;
    object-fit: cover; }

.game-details {
  padding: 5rem 10rem 10rem 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (max-width: 87.5em) {
    .game-details {
      padding: 5rem 5rem 10rem 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .game-details {
      padding: 3rem 1rem 10rem 1rem; } }
  .game-details__info {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media only screen and (max-width: 37.5em) {
      .game-details__info {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content); } }
  .game-details__video-box {
    grid-column: 1 / 2;
    padding: 2rem;
    width: 100%; }
    @media only screen and (max-width: 87.5em) {
      .game-details__video-box {
        padding: 2rem 0 1rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .game-details__video-box {
        grid-row: 2 / 3; } }
    .game-details__video-box img {
      width: 100%;
      display: block;
      object-fit: cover; }
  .game-details__developers {
    padding: 3rem 0;
    border-bottom: 1px solid #ededed; }
    .game-details__developers-title {
      color: #ffffff;
      margin-bottom: 2rem;
      font-size: 2rem; }
    .game-details__developers-link:link, .game-details__developers-link:visited {
      text-decoration: none;
      color: #1c201c;
      background-color: #ffffff;
      font-size: 1.6rem;
      font-weight: 700;
      padding: .5rem 1rem;
      border-radius: 5px; }
      .game-details__developers-link:link:not(:last-child), .game-details__developers-link:visited:not(:last-child) {
        margin-right: 1rem; }
  .game-details__more-info {
    grid-column: 2/-1; }
    @media only screen and (max-width: 37.5em) {
      .game-details__more-info {
        grid-row: 1 / 2;
        grid-column: 1 /-1; } }
  .game-details__platforms {
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem; }
    @media only screen and (max-width: 87.5em) {
      .game-details__platforms {
        padding: 2rem 2rem .5rem 2rem; } }
    .game-details__platforms span {
      background-color: #ffffff;
      padding: .5rem 1rem;
      font-size: 1.4rem;
      font-weight: 500;
      border-radius: 5px; }
  .game-details__title {
    color: #ffffff;
    font-size: 5rem;
    padding: 1rem 2rem 0 2rem; }
    @media only screen and (max-width: 87.5em) {
      .game-details__title {
        padding: .5rem 2rem 0 1rem; } }
  .game-details__genres {
    padding: .5rem 2rem 1rem 2rem;
    display: flex;
    gap: 1rem; }
    @media only screen and (max-width: 87.5em) {
      .game-details__genres {
        padding: .5rem 1rem .5rem 1rem; } }
    .game-details__genres-link:link, .game-details__genres-link:visited {
      text-decoration: none;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 1px;
      transition: all .2s; }
      .game-details__genres-link:link:hover, .game-details__genres-link:visited:hover {
        transform: scale(1.08); }
  .game-details__screens {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-rows: 1fr 1fr;
    padding: 2rem; }
    @media only screen and (max-width: 87.5em) {
      .game-details__screens {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        padding: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .game-details__screens {
        grid-template-columns: repeat(3, minmax(10rem, 1fr)); } }
    .game-details__screens img {
      height: 16rem;
      width: 100%;
      display: block;
      object-fit: cover;
      cursor: pointer; }
      @media only screen and (max-width: 87.5em) {
        .game-details__screens img {
          max-height: 12rem; } }
      @media only screen and (max-width: 56.25em) {
        .game-details__screens img {
          max-height: 10rem; } }
  .game-details__description {
    grid-column: 1 / -1;
    padding: 0 2rem; }
    .game-details__description p {
      color: #ffffff;
      font-size: 2rem;
      line-height: 1.6;
      font-weight: 500; }
  .game-details__same-series {
    padding: 3rem 2rem 2rem 2rem;
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    gap: 2rem;
    overflow-x: scroll; }
    .game-details__same-series-wrap {
      width: 33rem;
      flex-shrink: 0;
      flex-grow: 0; }

.main {
  display: grid;
  grid-template-columns: 25rem 1fr;
  padding: 5rem 10rem 15rem 10rem; }
  @media only screen and (max-width: 106.25em) {
    .main {
      grid-template-columns: 20rem 1fr;
      padding: 5rem 5rem 15rem 5rem; } }
  @media only screen and (max-width: 87.5em) {
    .main {
      grid-template-columns: 17rem 1fr;
      padding: 5rem 1rem 15rem 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .main {
      grid-template-columns: 25rem 1fr; } }
  @media only screen and (max-width: 31.25em) {
    .main {
      grid-template-columns: 1fr;
      position: relative; } }
  .main__menu {
    width: 100%;
    height: 50vh;
    padding-top: 7rem;
    position: relative; }
    @media only screen and (max-width: 31.25em) {
      .main__menu {
        position: fixed;
        grid-row: 1 / 2;
        z-index: 1000;
        top: 2rem;
        transform: translateX(-52%);
        transition: all .3s; }
        .main__menu.open {
          transform: translateX(-2%); } }
    .main__menu-mobile-icon-box {
      display: none; }
      @media only screen and (max-width: 31.25em) {
        .main__menu-mobile-icon-box {
          display: block;
          background-color: #515351;
          padding: 1.5rem;
          position: fixed;
          top: 7rem;
          right: 42%; } }
      @media only screen and (max-width: 25em) {
        .main__menu-mobile-icon-box {
          right: 40%; } }
    .main__menu-mobile-icon {
      fill: #ffffff;
      width: 2rem;
      height: 2rem; }
  .main__games {
    width: 100%; }
    @media only screen and (max-width: 31.25em) {
      .main__games {
        grid-row: 1 / 2; } }

.user {
  display: grid;
  grid-template-columns: 25rem 1fr;
  padding: 5rem 10rem 15rem 10rem; }
  .user__main-info {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 10rem; }
  .user__title {
    color: #ffffff;
    font-size: 5rem; }
  .user__profile-img {
    width: 10rem;
    height: 10rem;
    display: block;
    object-fit: cover;
    border-radius: 50%; }
  .user__settings-btn:link, .user__settings-btn:visited {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #515351;
    border: 2px solid #ffffff;
    padding: 1rem 2rem;
    margin-left: auto;
    transition: all .2s; }
    .user__settings-btn:link:hover, .user__settings-btn:visited:hover {
      background-color: #333633;
      border: 2px solid #515351; }
    .user__settings-btn:link:active, .user__settings-btn:visited:active {
      transform: scale(0.9); }
  .user__nav {
    padding: 5rem 10rem 0 10rem; }
  .user__nav-list {
    list-style: none;
    display: flex;
    gap: 4rem; }
  .user__nav-item-link:link, .user__nav-item-link:visited {
    text-decoration: none;
    color: #898c89;
    font-size: 2rem;
    font-weight: 500;
    transition: all .2s; }
    .user__nav-item-link:link::after, .user__nav-item-link:visited::after {
      content: '';
      display: block;
      margin-top: 2px;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transition: all .3s;
      transform: scale(0); }
    .user__nav-item-link:link:hover, .user__nav-item-link:visited:hover {
      color: #ffffff; }
    .user__nav-item-link:link:hover::after, .user__nav-item-link:visited:hover::after {
      transform: scale(1); }
  .user__nav-item-link-active {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    transition: all .2s; }
    .user__nav-item-link-active::after {
      content: '';
      display: block;
      margin-top: 2px;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transition: all .3s; }
  .user__display-box {
    padding: 5rem 10rem 0 10rem; }

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 10rem;
  color: #ffffff; }
  .login__login {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center; }
  .login__title {
    font-size: 3rem;
    margin-bottom: 1rem; }
  .login__login-text {
    display: inline-block;
    margin-bottom: 6rem;
    font-size: 1.6rem; }
  .login__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7rem; }
  .login__register {
    display: flex;
    flex-direction: column;
    justify-self: center; }
  .login__form-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .2s; }
    .login__form-btn:hover {
      transform: scale(1.08); }
    .login__form-btn:active {
      transform: scale(1); }
