.footer {
  padding: 5rem 10rem;
  display: grid;
  grid-template-columns: max-content minmax(20rem, 1fr) max-content;
  border-top: 1px solid #ededed;

  @include respond(tab-land) {
    padding: 5rem 5rem;
  }
  @include respond(tab-port) {
    padding: 5rem 2rem;
  }
  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  &__logo {
    width: auto;
    height: 7rem;
    display: block;
    object-fit: cover;
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &-box {
      display: flex;
      gap: 3rem;
      align-items: center;
    }

    &-icon {
      width: 4rem;
      height: 4rem;
      fill: #ffffff;
      transition: all .2s;

      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
      }
    }
  }

  &__newsletter {
    justify-self: center;
    width: 30%;

    @include respond(tab-land) {
      width: 60%;
    }
    @include respond(tab-port) {
      width: 80%;
    }
    @include respond(phone) {
      grid-column: 1 / -1;
      grid-row: 2 / -1;
    }

    &-title {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 1.6rem;
      margin-bottom: 10rem;
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7rem;

      label {
        color: #ffffff;
      }
    }

    &-submit {
      padding: 1rem 3rem;
      background-color: transparent;
      border: 3px solid #ffffff;
      color: #ffffff;
      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 500;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        transform: scale(1.08);
      }
      &:active {
        transform: scale(1);
      }
    }
  }

  &__terms {
    justify-self: center;
    align-self: center;

    @include respond(phone) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 4rem;
    }

    &-item {

    }

    &-link:link,
    &-link:visited {
      text-decoration: none;
      color: #ffffff;
      font-size: 2rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}